.footer {
  background: $primary-dark;
  padding: 40px 0;
  background-image: url("bg-pattern-circle.svg");
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: bottom -380px center;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
  }

  &__menu {
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;

      a {
        color: $gray;
      }
    }
  }

  &__social {
    display: flex;
    gap: 25px;
  }

  @media screen and (min-width: 768px) {
    background-size: 700px;
    background-position: top -50px right -250px;

    .container {
      flex-direction: row;
    }

    &__menu {
      ul {
        flex-direction: row;
      }
    }

    &__social {
      margin-left: auto;
    }
  }
}
