.implement {
  padding: 70px 0 0;

  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
  }

  &__img {
    width: 100%;
  }

  &__content {
    width: 100%;
    text-align: center;
    h2 {
      font-family: "DM Serif Display";
      color: $primary;
      font-size: 35px;
      margin-bottom: 40px;
    }
    p {
      color: $primary;
      line-height: 1.4;
      font-size: 15px;
    }
  }

  @media screen and (min-width: 768px) {
    &__img {
      max-width: 393px;
    }

    &__content {
      max-width: 580px;
      p {
        font-size: 15px;
      }
    }
  }

  @media screen and (min-width: 1200px) {
    .container {
      flex-direction: row;
      justify-content: flex-start;
      gap: 150px;
    }
    &__img {
      width: 445px;
    }

    &__content {
      text-align: left;
      max-width: 425px;

      h2 {
        margin-bottom: 40px;
        font-size: 47px;
      }

      p {
        line-height: 1.5;
      }
    }
  }
}
